<!doctype html>
<html lang="en">
<body>
<div class="jumbotron" *ngIf="isLogged">
  <div class="top">

    <ul>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <i class="fa fa-cutlery" aria-hidden="true"></i><h3>New Recipe</h3>
            <div class="box clearfix">
              <button class="submit-click" routerLink="/submit-food" >Create new Recipe</button>
            </div>
          </div>

          <div class="col-lg-4">
            <i class="fa fa-cutlery" aria-hidden="true"></i><h3>Pick Todays Menu</h3>
            <div class="box clearfix">
              <button class="submit-click" routerLink="/app-choose-main-page-items"  type="submit">Pick Todays menu</button>
            </div>

          </div>
          <div class="col-lg-4">
            <i class="fa fa-cutlery" aria-hidden="true"></i> <h3></h3>
            <div class="box clearfix">
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>

<div class="warning" *ngIf="!isLogged">
  <p>You are not currently logged. This view is only available for specific users.</p>
</div>
</body>

</html>
