.btn-custom
{
  position: relative;
  margin-top: 13px;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  background-color: #e13b2b;
  bottom: -12px;
  margin-left: 12px;
}
.warning{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(236, 240, 241, 1);
  color: #985f0d;
  text-align: center;
  font-size: 50px;
}
