<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</head>

<body>




<!-- Submit NewMainFood-->
<div class="submit">
  <div class="title">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Submit Recipe</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="content">

      <div class="row">
        <div class="container" *ngIf=mainfoods>

        <div class="col-lg-12">

          <div class="form-group">
            <label>Choose Daily Food 1</label>

            <select class="js-search-category form-control" name="category" data-placeholder="Choose Category"
                    [(ngModel)]="selected1">

              <ng-container *ngFor="let main of mainfoods">
              <option [ngValue]="main">{{main.mainFoodName}}</option>


              </ng-container>
            </select>
        </div>
        </div>

          <div class="col-lg-12">

            <div class="form-group">
              <label>Choose Daily Food 2</label>
              <select class="js-search-category form-control" name="category"
                      data-placeholder="Choose Category" [(ngModel)]="selected2" >

                <ng-container *ngFor="let main of mainfoods">

                  <option [ngValue]="main">{{main.mainFoodName}}</option>


                </ng-container>
              </select>
            </div>
          </div>


          <div class="col-lg-12">

            <div class="form-group">
              <label>Choose Daily Food 3</label>
              <select class="js-search-category form-control" name="category" data-placeholder="Choose Category"
                      [(ngModel)]="selected3">

                <ng-container *ngFor="let main of mainfoods">

                  <option [ngValue]="main">{{main.mainFoodName}}</option>


                </ng-container>
              </select>
            </div>
          </div>
          <div class="col-lg-12">

            <div class="form-group">
              <label>Choose Speciel Offers 1</label>

              <select class="js-search-category form-control" name="category" data-placeholder="Choose Category"
                      [(ngModel)]="selectedOffers4">

                <ng-container *ngFor="let offers of specielOffers">
                  <option [ngValue]="offers">{{offers.specialOfferName}}</option>


                </ng-container>
              </select>
            </div>
          </div>
          <div class="col-lg-12">

            <div class="form-group">
              <label>Choose Speciel Offers 2</label>

              <select class="js-search-category form-control" name="category" data-placeholder="Choose Category"
                      [(ngModel)]="selectedOffers5">

                <ng-container *ngFor="let offers of specielOffers">
                  <option [ngValue]="offers">{{offers.specialOfferName}}</option>


                </ng-container>
              </select>
            </div>
          </div>
          <div class="col-lg-12">

            <div class="form-group">
              <label>Choose Speciel Offers 3</label>

              <select class="js-search-category form-control" name="category" data-placeholder="Choose Category"
                      [(ngModel)]="selectedOffers6">

                <ng-container *ngFor="let offers of specielOffers">
                  <option [ngValue]="offers">{{offers.specialOfferName}}</option>


                </ng-container>
              </select>
            </div>
          </div>

          <div class="col-lg-12">

            <div class="form-group">
              <label>Choose Tip of the day</label>
              <select class="js-search-category form-control" name="category" data-placeholder="Choose Category"
                      [(ngModel)]="selected4">

                <ng-container *ngFor="let main of motd">
                  <option [ngValue]="main">{{main.tipOfTheDay}}</option>

                </ng-container>
              </select>
            </div>
          </div>
            </div>
          </div>
        </div>

      </div>

<button (click)="saveDailyChoice()" type="submit" class="btn btn-submit">Submit Food</button>

<button class="btn btn-custom" routerLink="/adminview">Back</button>

</body>

</html>
