<form [formGroup]="specielOfferForm" (ngSubmit)="save()">
  <div class="container">
    <div class="row">
      <div class="col-2 pl-4 mt-3">
        <label>
          Name:
          <input class="form-control" type="text" formControlName="specialOfferName">
        </label>

        <label>
          price:
          <input type="number" class="form-control" type="text" formControlName="price">
        </label>


        <button class="btn-sucess btn-sm" type="submit">Save</button>
        <button class="btn-dark btn-sm" routerLink="/">Back</button>
      </div>
    </div>
  </div>
</form>

