<div fxLayout="column"
     fxFill
     fxLayoutGap="95px">
  <div fxLayout="row">
    <button routerLink="/adminview" mat-mini-fab mat-raised-button color="primary"><<</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
      <form [formGroup]="specielOfferForm" (ngSubmit)="save()">
        <div fxLayout="column">
            <input  class="form-control" formControlName=  "specialOfferName">

            <input  type="number" class="form-control"  formControlName="price">
        </div>
        <button class="btn-light" type="submit">Save</button>
        <button class="btn-dark" routerLink="">Back</button>
      </form>
  </div>
</div>


