<div fxLayout="column"
     fxFill
     fxLayoutGap="95px">
  <div fxLayout="row" fxLayoutAlign="center">
    <form [formGroup]="mainFoodForm" (ngSubmit)="save()">
      <div fxLayout="column">
        <label>
          Food Name
          <input  class="form-control" formControlName=  "mainFoodName">
        </label>
        <label>
          Ingredients
          <input  class="form-control" formControlName=  "recipeLines">
        </label>
        <label>
          Allergens
          <input   class="form-control" formControlName=  "allergensInMenu">
        </label>
      </div>
      <button class="btn-light" type="submit">Save</button>
      <button class="btn-dark" routerLink="">Back</button>
    </form>
  </div>
</div>
