<div fxLayout="column"
     fxFill
     fxLayoutGap="95px">
  <div fxLayout="row" fxLayoutAlign="center">
    <form [formGroup]="mainFoodForm" (ngSubmit)="save()">
      <div fxLayout="column">

        <input  class="form-control" formControlName=  "mainFoodName">

        <input  class="form-control" formControlName=  "recipeLines">

        <input   class="form-control" formControlName=  "allergensInMenus">

      </div>
      <button class="btn-light" type="submit">Save</button>
      <button class="btn-dark" routerLink="">Back</button>
    </form>
  </div>
</div>
