<!doctype html>
<html lang="en">




<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">




</head>

<body>


<div class="list">
  <div class="container">

        <h5><i class="fa fa-cutlery" aria-hidden="true"></i></h5>
      </div>


        <div class="box grid recipes">
          <div class="by"><i class="fa fa-user" aria-hidden="true"></i>Tip of the Day: This days tip is fucking shoot kris in his big head</div>


        </div>

      </div>




<div class="jumbotron">
  <div class="mainHeader">
    <p>Today's Menu</p>
  </div>
<div class="top">
  <ul>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
      <i class="fa fa-cutlery" aria-hidden="true"></i><h3>Daily Choice 1</h3>
        <div class="box clearfix">
          <img src="images/square-recipes1.jpg" alt="">
          <h3>A lovely Chicken Soup</h3>

          <li>
          <h6><p>May Contain Chicken</p></h6>
          </li>

        </div>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-cutlery" aria-hidden="true"></i><h3>Daily Choice 2</h3>
        <div class="box clearfix">
          <img src="images/square-recipes2.jpg" alt="">
          <h3>Meat, Potato and sauce</h3>

          <li>
          <h6><p>May Contain Peanuts</p></h6>
          </li>

        </div>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-cutlery" aria-hidden="true"></i> <h3>Daily Choice 3</h3>
        <div class="box clearfix">
       <img src="images/square-recipes3.jpg" alt="">
          <h3>Nachos</h3>

          <li>
          <h6><p>Beware of lactose intolerance</p></h6>
          </li>

        </div>
      </div>
    </div>
  </div>
  </ul>
 </div>

</div>




<div class="jumbotron">
  <div class="mainHeaderOotd">
    <p>Offers of the day</p>
  </div>
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3><i class="fa fa-cutlery" aria-hidden="true"></i> Daily Choice 1</h3>
          <div class="box clearfix">
            <h3>A lovely Chicken Soup</h3>
            <p>May Contain Chicken</p>
          </div>
        </div>
        <div class="col-lg-4">
          <h3><i class="fa fa-cutlery" aria-hidden="true"></i> Daily Choice 2</h3>
          <div class="box clearfix">
            <h3>Meat, Potato and sauce</h3>
            <p>May Contain Peanuts</p>
          </div>
        </div>
        <div class="col-lg-4">
          <h3><i class="fa fa-cutlery" aria-hidden="true"></i> Daily Choice 3</h3>
          <div class="box clearfix">
            <h3>Nachos</h3>
            <p>Beware of lactose intolerance</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <h5>About - Danish</h5>
          <p>
    Vores kantine hedder Café healthy study og her kan du både købe morgenmad, frokost og lidt til den lille sult.

        </p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>About - English</h5>
<p> Our cantina is called Café Healthy Study, here you're able to buy both breakfast, lunch and something for the sweet tooth.</p>
      </div>
      <div class="col-lg-3 col-sm-6">
      <h5>Contact Information</h5>
        <p>

          <span style="font-size: 15px; color: #e13b2b;">
            <i class="fas fa-home"></i>
          </span>
          Spangsbjerg Kirkevej 103 <br>


          <span style="font-size: 15px; color: #e13b2b;">
            <i class="fas fa-city"></i>
          </span>
          6700 Esbjerg <br>


          <span style="font-size: 15px; color: #e13b2b;">
            <i class="fas fa-phone"></i>
          </span>
          +45 7613 3200
        </p>
      </div>
      <div class="col-lg-3 col-sm-6">

      </div>
    </div>
  </div>
</footer>


<!-- Copyright -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">Made with <i class="fa fa-heart" aria-hidden="true"></i> &#8212; Copyright &copy; 2018 <a href="index.html">Erhvervsakademi Cantina - All rights reserved</a></div>
    </div>
  </div>
</div>






</body>
</html>
