<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


</head>
<div class="totd">tips of the day</div>
<div class="striped-border">This Weeks Food</div>


<div class="jumbotron">

    <div class="row">
      <div class="col">
        Monday
      </div>
      <div class="col">
        Tuesday
      </div>
      <div class="col">
        Wednesday
      </div>
      <div class="col">
        Thursday
      </div>
      <div class="col">
        Friday
      </div>
      <div class="col-12"></div>


      <div class="col">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample">Cookiiiies
          <span class="fas fa-cookie-bite" aria-hidden="true"></span>
        </button>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            Info about this particular meal
          </div>
        </div>
      </div>


      <div class="col">
        <button type="button" class="btn btn-primary"> Stroopwafel
          <span class="fas fa-stroopwafel" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary"> Cannabis
          <span class="fas fa-cannabis" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary"> Some bone
          <span class="fas fa-bone" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" > a cat
          <span class="fas fa-cat" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-12"></div>
      <div class="col">
        Monday
      </div>
      <div class="col">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenubutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenubutton">
            <a class="dropdown-item" href="#">Chicken</a>
            <a class="dropdown-item" href="#">Beef</a>
            <a class="dropdown-item" href="#">Vegan</a>
          </div>
        </div>

      </div>
      <div class="col">
        Wednesday
      </div>
      <div class="col">
        Thursday
      </div>
      <div class="col">
        Friday
      </div>


</div>




  </div>
<div class="striped-border">Offers of the day</div>

<body>

<div class="container">



</div>




</body>
