<div class="totd">
   <p id="TipOfDay">tips of the day</p>
</div>
<div class="striped-border">Menus</div>
<div class="MenuContainer">
  <ul class="HotMenusList">
    <li id="Menu1">
      <img src="https://i.postimg.cc/FR3Q6kdS/hot-food-in-a-bowl.png" width="200px" height="200px" alt="">
      <div class="Labels">
      <p class="MenuTitle" id="Menu1Title">Chicken Soup</p>
      <p class="IngredientsTitle" id="Menu1Ingredients">Chicken,Onion,Tomate</p>
      </div>
    </li>
    <li id="Menu2">
      <img src="https://i.postimg.cc/FR3Q6kdS/hot-food-in-a-bowl.png" width="200px" height="200px" alt="">
      <div class="Labels">
        <p class="MenuTitle" id="Menu2Title">Soup Chicken</p>
        <p class="IngredientsTitle" id="Menu2Ingredients">Water, Salt, Cow</p>
      </div>
    </li>
    <li id="Menu3">
      <img src="https://i.postimg.cc/FR3Q6kdS/hot-food-in-a-bowl.png" width="200px" height="200px" alt="">
      <div class="Labels">
        <p class="MenuTitle" id="Menu3Title">Soup Soup</p>
        <p class="IngredientsTitle" id="Menu3Ingredients">Coke, Wood, Clouds</p>
      </div>
    </li>
  </ul>
</div>
<div class="striped-border">Offers of the day</div>
<ul class="OffersList">
  <li class="OfferItem" id="Offer1">
    <img src="https://i.postimg.cc/FR3Q6kdS/hot-food-in-a-bowl.png" width="150px" height="150px" alt="">
    <div class="OfferLabels">
      <p class="OfferName" id="Offer1Name">Mineral water soup</p>
      <p class="Price" id="Offer1Price">500 kr.</p>
    </div>
  </li>
  <li class="OfferItem" id="Offer2">
    <img src="https://i.postimg.cc/FR3Q6kdS/hot-food-in-a-bowl.png" width="150px" height="150px" alt="">
    <div class="OfferLabels">
      <p class="OfferName" id="Offer2Name">Banana</p>
      <p class="Price" id="Offer2Price">7500 kr.</p>
    </div>
  </li>
  <li class="OfferItem" id="Offer3">
    <img src="https://i.postimg.cc/FR3Q6kdS/hot-food-in-a-bowl.png" width="150px" height="150px" alt="">
    <div class="OfferLabels">
      <p class="OfferName" id="Offer3Name">Kris' hair</p>
      <p class="Price" id="Offer3Price">1 kr.</p>
    </div>
  </li>
  <li class="OfferItem" id="Offer4">
    <img src="https://i.postimg.cc/FR3Q6kdS/hot-food-in-a-bowl.png" width="150px" height="150px" alt="">
    <div class="OfferLabels">
      <p class="OfferName" id="Offer4Name">Black kid ankle</p>
      <p class="Price" id="Offer4Price">5 kr.</p>
    </div>
  </li>
</ul>
