<head>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

</head>

<body>

<div id="id01" class="modal">

  <form class="modal-content animate" [formGroup]="loginForm" (ngSubmit)="onSubmit()">


    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" formControlName="username" required>
      <div *ngIf="username.invalid && submitted" class="alert-danger">
      <div *ngIf="username.errors.required">Username is required</div>
    </div>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" formControlName="password" required>
      <div *ngIf="password.invalid && submitted" class="alert-danger">
        <div *ngIf="password.errors.required">Username is required</div>
      </div>

      <button class="submit-click">Login</button>

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
    <div *ngIf="errormessage" class="alert-danger">{{errormessage}}</div>
  </form>

</div>


<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>


<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="index.html"><i class="fa fa-cutlery" aria-hidden="true"></i><h4> Erhvervsakademi <br>Healthy Café </h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li *ngIf="loggedIn" class="nav-item">
        <a class="nav-link" routerLink="/menu-add">Add Menu</a>
        </li>
        <li id="LogOutBtn" class="btn btn-submit-recipe" (click)="logout()" *ngIf="loggedIn" ><div><mat-icon>logout</mat-icon>{{usernames}}</div></li>
        <li class="nav-item btn-submit-recipe">
          <button *ngIf="!loggedIn" class="fa fa-upload" class="btn btn-submit-recipe" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>        </li>

      </ul>
    </div>
  </div>
</nav>
</body>
