ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
}

li a, .dropbtn {
  float: left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover, .dropdown:hover .dropbtn {
}

.dropbtn {
  float: right;
}


.dropdown-content {
  display: none;

  position: absolute;
  margin-left: 82%;
  margin-top: 50px;
  color: #fff;
  min-width: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  align-self: center;



}
.sticky {
   position: sticky;
 }

.dropdown-content a:hover {background-color: #fff}

.navbar {
  background-color: #fff;
}


.navbar-brand{
  font-family: 'Dancing Script', Georgia, Times, serif;
  font-size: 100%;
  color: white;
}


.navbar .navbar-nav .btn-submit-recipe {
  position: absolute;
  right: 30px;
  top: 0px;
}
.navbar .navbar-nav .btn-submit-recipe a {
  margin-top: 13px;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  background-color: #e13b2b;
}
.navbar .navbar-nav .btn-submit-recipe a i {
  margin-right: 5px;
  margin-bottom: -5px;
}
.navbar .navbar-nav .btn-submit-recipe a:hover {
  text-decoration-color: #e13b2b;
}

h4
{
  position: relative;
  top: -10px;
  margin-bottom: -10px;
  margin-top: -15px;
  color: #e13b2b;
  font-size: 20px;
  font-family: 'Rancho', Georgia, Times, serif;

}


